/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache
/.env
/.env.backup
/.phpunit.result.cache
/.idea
/.vscode
/.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
